<div class="row">
        <div class="jumbotron">
        </div>  
        <div class="col-sm-8 blog-main">
          <div class="blog-header">
            <h1 class="blog-title"><%= @charity.name %></h1>
          </div>

          <% @posts.each do |post| %>
            <div class="blog-post">
              <h2 class="blog-post-title"><%= post.title %></h2>
              <p class="blog-post-meta"><%= post.created_at.strftime("%B, %d, %Y") %> by <%= post.author.email %></p>

              <%= post.content.html_safe %>

            <div id="disqus_thread"></div>
            <script type="text/javascript">
              var disqus_shortname = 'charityhosting'; // required: replace example with your forum shortname

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com#disqus_thread" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>

            </div>
          <% end %>
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
              <h4>About</h4>
              <p><%= @settings.about.html_safe %></p>
            </div>
          <div class="sidebar-module sidebar-module-inset">
            <h4>Sign Up for our Newsletter</h4>
            <form class="form-signin" role="form" action="" method="">
              <input type="name" class="form-control" placeholder="Name" required autofocus>
              <input type="email" class="form-control" placeholder="Email address" required autofocus>
               <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
            </form>
          </div>
          <div class="sidebar-module sidebar-module-inset">
            <h4>Report Lost animal</h4>
            <%= form_for :animal_detail, url: {controller: "charity", action: "report_animal"}, html: {class: "form-signin"} do |f| %>
              <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
              <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
              <%= f.text_field :animal_name, class: "form-control", placeholder: "Animal Name" %>
              <%= f.text_area :details, class: "form-control", placeholder: "Details" %>
              <%= f.submit 'Report', class: "btn btn-lg btn-primary btn-block" %>
            <% end %>
          </div>
          <div class="sidebar-module sidebar-module-inset">
            <h4>Tags</h4>
            <ol class="list-unstyled">
                  <li><span class="tags"><a href="<%= charity_path(@charity) %>">View All</a></span></li>
                  <% @charity.all_tags_ordered.each do |tag| %>
                <li><span class="tags"><a href="<%= charity_path(@charity) %>?tag=<%=tag %>"><%= tag.capitalize %></a></span></li>
              <% end %>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->
