<h1>Editing <%= @charity.name %></h1>

<ul>
	<li><%= link_to "Appearance", appearance_path(@charity.id, :index) %></li>
	<li><%= link_to "Communication", communication_path(@charity.id, :index) %></li>
	<li><%= link_to "Posts", "/charity/#{@charity.id}/posts" %></li>
</ul>

<h3>Add Admin to charity</h3>
<%= form_for @charity.users.new, :url => charity_path(@charity, :add_user) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>
  <div><%= f.submit "Add Admin" %></div>
<% end %>

<h3>Open Admin offers</h3>
<ul>
<% @charity.admin_offers.each do |offer| %>
	<% if !offer.accepted %>
		<li><%= offer.email %></li>
	<% end %>
<% end %> 
</ul>