<% content_for :page_title do %>
	Configure Appearance
<% end %>

<h3>Change text color</h3>
<%= form_for @charity.settings, url: appearance_path(@charity.id, :update_template), html:{class: "form-horizontal", role: "form"} do |f| %>

  <div class="form-group">
    <%= f.label :text_color, "Text Color", class: "col-sm-4 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :text_color, class: "pick-a-color form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label(:header_image, "Header Image URL", class: "col-sm-4 control-label" ) %>
    <div class="col-sm-6">
      <%= f.text_field :header_image, class: "form-control", placeholder: "http://i.imgur.com/XnhTlUQ.jpg" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-6">
      <%= f.submit "Save Changes", :class => "btn btn-primary form-control" %>
    </div>
  </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".pick-a-color").pickAColor();
  });
</script>