<h1>Appearance#template</h1>

<%= form_for @charity.settings, url: appearance_path(@charity.id, :update_template) do |f| %>
	<%= f.label(:base_template_child, "Default") %>
	<%= f.radio_button(:base_template, "charity/default") %>

	<%= f.label(:base_template_adult, "Template 1") %>
	<%= f.radio_button(:base_template, "charity/template1") %>

	<%= f.submit "Set Template" %>
<% end %>