<% content_for :page_title do %>
	Changing Base Template
<% end %>

<h3>Choose Base Template</h3>

<%= form_for @charity.settings, url: appearance_path(@charity.id, :update_template), html:{class: "form-horizontal", role: "form"} do |f| %>

	<div class="form-group">
	    <%= f.label :text_color, "Choose Template", class: "col-sm-2 control-label" %>
	    <div class="col-sm-10">
	    	<div class="radio">
	    		<label>
	  	    		<%= f.radio_button(:base_style, "style1.css") %> Style 1
	      		</label>
	      	</div>
	     	<div class="radio">
	    		<label>
	  	    		<%= f.radio_button(:base_style, "style2.css") %> Style 2
	      		</label>
	      	</div>
	    </div>
  	</div>
  	
	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <%= f.submit "Set Template", :class => "btn btn-default" %>
	    </div>
  	</div>


<% end %>