<% content_for :page_title do %>
	Changing Base Template
<% end %>

<h3>Choose Base Template</h3>

<%= form_for @charity.settings, url: appearance_path(@charity.id, :update_template) do |f| %>
<ul>
<li>
	<%= f.label(:base_style_1, "Style 1") %>
	<%= f.radio_button(:base_style, "style1.css") %>
</li>
<li>
	<%= f.label(:base_style_2, "Style 2") %>
	<%= f.radio_button(:base_style, "style2.css") %>
</li>
</ul>
	<%= f.submit "Set Template" %>
<% end %>