<% content_for :page_title do %>
	Editing Post
<% end %>

<h3>Edit Post</h3>
<%= form_for @post, :url => {:controller => "post", :action => "update"} do |f| %>

  <div>
  	<%= f.label :title %>
  	<%= f.text_field :title, :autofocus => true %>
  </div>

  <div>
	<%= f.label :content %>
	<%= f.text_area :content %>
  </div>
  <div><%= f.submit "Update Post" %></div>
<% end %>

<div class="page-section">
	<h3>Comments</h3>
	<ul>
		<% @post.comments.each do |comment| %>
			<li>
				<span><%= comment.comment %></span>
				<span class="list-right">
					<span class="list-time"><%= comment.created_at.strftime("%m/%d/%Y") %></span>
					<a href="<%= comment_path(@charity, @post, comment, :show) %>"><%= image_tag 'glyphicons_150_edit.png', :class => "edit", alt: "Show" %></a>
					<a href="#"><%= image_tag 'glyphicons_197_remove.png', :class => "delete", alt: "Delete" %></a>
				</span>
			</li>
		<% end %>
	</ul>
</div>