<!DOCTYPE html>
<html>
<head>
  <title>CharityHost</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: '/layouts/charity/shared/template_css_options' %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1>Using Template 1</h1>

<%= yield %>

<%= render partial: '/layouts/charity/shared/donate' %>

</body>
</html>
