<!DOCTYPE html>
<html>
<head>
  <title>CharityHost</title>
  	<link data-turbolinks-track="true" href="/assets/application.css?body=1" media="all" rel="stylesheet" />
	<link data-turbolinks-track="true" href="/assets/charity.css?body=1" media="all" rel="stylesheet" />
	<link data-turbolinks-track="true" href="/assets/pick-a-color-1.2.2.min.css?body=1" media="all" rel="stylesheet" />

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
	<h1><%= @charity.name %></h1>
	<ul>

		<li><a href="<%= charity_path %>">Home</a></li>
		<li><a href="http://<%= @charity.domain %>">Preview</a></li>
		<li><%= link_to 'Statistics', charity_path(@charity, :statistics) %></li>
		<li class="category"><span>Appearance</span></li>
		<li><a href="<%= appearance_path(@charity, :template) %>">Change Base Template</a></li>
		<li><a href="<%= appearance_path(@charity, :configure_template) %>">Change Text Color</a></li>
		<li><a href="<%= appearance_path(@charity, :configure_template) %>">Change Header Image</a></li>

		<li class="category"><span>Settings</span></li>
		<li><a href="<%= settings_path(@charity, :index) %>">About Your Charity</a></li>
		<li><a href="<%= settings_path(@charity, :index) %>">Configure Donations</a></li>
		<li><a href="<%= settings_path(@charity, :index) %>">Enable/Disable donations</a></li>
		<li><a href="<%= charity_path(@charity, :manage_admins) %>">Manage Admins</a></li>

		<li class="category"><span>Posts</span></li>
		<li><a href="<%= post_index_path(@charity) %>">All Posts</a></li>

		
		<% @charity.all_tags_ordered.each do |tag| %>
			<li><a href="<%= post_index_path(@charity) %>?tag=<%=tag%>"><%= tag.capitalize %></a></li>
		<% end %>
	</ul>
</nav>

<div id="main">

	<%= render partial: 'layouts/shared/flash_alerts' %>

	<div id="topbar">
		<h2><%= yield :page_title %></h2>
		<span>
			<%= current_user.email %>
			<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-default" %> 
			<a href="<%= edit_user_registration_path %>">
				<%= image_tag 'glyphicons_136_cogwheel.png', :class => "settings", alt: 'Settings' %>
			</a>
		</span>
	</div>
	<%= yield %>
</div>

</body>
</html>
